.events {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 3;
  background-color: red;
  gap: 5px;
  height: 50px;
  border-radius: 4px;
  color: white;
  padding: 2px;
  box-shadow: 0 0 0 2px white;
  animation-duration: 10s;
  animation-name: slideIn, ease-in-out;
}
@keyframes slideIn {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}
