.items {
  position: absolute;
  width: 100%;
  color: white;
  height: 25px;
  background-color: rgba(1, 4, 1, .35);

  overflow: hidden;
}
.item {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}